<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BizRulez" version="1.0.2" targetFramework="net452" />
  <package id="DevExpress.Data" version="21.1.3" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="21.1.3" targetFramework="net452" />
  <package id="DXTraining.EventsDB" version="21.1.0.1" targetFramework="net452" />
</packages>